################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/iiwi.Common/obj
/iiwi.Model/obj
/iiwi.Application/obj
/iiwi.Core/obj
/iiwi.Database/obj
/iiwi.Domain/obj
/iiwi.Infrastructure/obj
/iiwi.Scheduler/obj
/iiwi.SearchEngine/obj
/iiwi.Model/bin/Debug/net8.0
/iiwi.Library/obj
/iiwi.SearchEngine/bin/Debug/net8.0
/iiwi.Application/bin/Debug/net8.0
/iiwi.Common/bin/Debug/net8.0
/iiwi.Core/bin/Debug/net8.0
/iiwi.Database/bin/Debug/net8.0
/iiwi.Domain/bin/Debug/net8.0
/iiwi.Infrastructure/bin/Debug/net8.0
/iiwi.Library/bin/Debug/net8.0
/iiwi.Scheduler/bin/Debug/net8.0
/iiwi.AppWire/bin/Debug/net9.0
/iiwi.AppWire/obj
/iiwi.Application/bin/Debug/net9.0
/iiwi.Common/bin/Debug/net9.0
/iiwi.Domain/bin/Debug/net9.0
/iiwi.Core/bin/Debug/net9.0
/iiwi.Library/bin/Debug/net9.0
/iiwi.Model/bin/Debug/net9.0
/iiwi.Scheduler/bin/Debug/net9.0
/iiwi.SearchEngine/bin/Debug/net9.0
/iiwi.Database/bin/Debug/net9.0
/iiwi.Infrastructure/bin/Debug/net9.0
/iiwi.NetLine/bin/Debug/net9.0
/iiwi.NetLine/obj
/iiwi.NetLine/Logs
