################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/iiwi.Common/obj
/iiwi.Model/obj
